.auth {
  display: grid;
  grid-template-areas: "login" "password" "buttons";
  grid-gap: 20px;
  width: max-content;
  margin: auto;
  border: 1px solid var(--light);
  padding: 15px;
}

.auth__input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main);
  color: var(--dark);
  height: 20px;
  font-size: 17px;
}

.auth__input:focus {
  border-bottom-color: var(--light);
}

.auth__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
}

.auth__button {
  outline: none;
  border: none;
  width: max-content;
  /*align-self: center;*/
  /*background: var(--dark);*/
  /*color: white;*/
  font-size: 15px;
  padding: 7px 12px;
  cursor: pointer;
}

.auth__button_solid {
  background-color: var(--dark);
  color: white;
}

.auth__button_solid:hover {
  background-color: var(--main);
}

.auth__button_transparent {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
  box-sizing: border-box;
}

.auth__button_transparent:hover {
  background-color: var(--main);
  color: white;
  border-color: var(--main);
}
