.main {
  width: 100%;
  display: grid;
  grid-template-areas:
    "search sort"
    "results results";
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
}

@media (max-width: 700px) {
  .main {
    grid-template-areas: "search" "sort" "results";
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.content__sort {
  grid-area: sort;
  display: flex;
  align-items: flex-end;
  color: var(--light);
  font-size: 17px;
}

.content__sort-select {
  color: var(--main);
  font-size: 17px;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  height: 20px;
}

.results {
  grid-area: results;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.results__col {
  padding-left: 30px;
  background-clip: padding-box;
}

@media (max-width: 500px) {
  .main {
    width: 90vw;
    margin: auto;
  }
}
