.header {
  width: 100%;
  height: 65px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: Roboto, sans-serif;
  padding: 0 30px;
  box-sizing: border-box;
}

.header__lang {
  position: absolute;
  top: 100%;
  right: 0;
  border: none;
  outline: none;
  height: 40px;
  color: var(--dark);
  background-color: transparent;
  cursor: pointer;
  font-family: "Roboto";
}

.header__name {
  font-family: "Outsiders";
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 40px;
}

.header__cart {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.header__name:hover,
.header__cart:hover {
  color: var(--light);
}

.header__btn {
  border: none;
  outline: none;
  color: var(--main);
  font-size: 15px;
  padding: 7px 15px;
  cursor: pointer;
  /*background: var(--light);*/
  background-color: transparent;
}

.header__btn_hidden {
  visibility: hidden;
}

.header__btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
