.App {
  position: relative;
}

.content {
  font-family: Roboto, sans-serif;
  margin: 120px auto 60px;
  min-width: 60vw;
  width: 740px;
  max-width: 90vw;
}

@media (max-width: 500px) {
  .content {
    max-width: 100vw;
  }
}
